# Godot 4+ specific ignores
.godot/
/android/
*.import

# VSCode specific ignores
.vscode/

# Python specific ignores
__pycache__/
.venv/
**/.venv/
venv/
build/
*.spec

# Ignore PyInstaller build artifacts
/mahima-godot/py/build/
/mahima-godot/py/dist/

# Ignore PyInstaller executables
**/hand_detection.exe

# Ignore executables
*.exe